html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("backgroundimage.jpg");
  background-position: center;
  min-height: 115vh;
  font-family: 'Open Sans', sans-serif;
}

.container {
  flex-basis: 1000px;
  margin: 15px;
  padding: 0 20px;
  background: white;
  box-shadow: 0 0 20px blue;
}
